*

header{
    display: flex;
    justify-content: center;
}

body{
    background-color: aqua;
}

section{
    text-align: center;
    margin: 1px 400px;
    background-color: white;
    border-radius: 10%;

}